<div class="row g-0">
  <div class="col-sm-6 col-md-8">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Choose Category
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/products">All</a></li>
        <li><a class="dropdown-item" href="/products/laptop">Laptop</a></li>
        <li><a class="dropdown-item" href="/products/phone">Phone</a></li>
        <li><a
            class="dropdown-item"
            href="/products/equipment"
          >Equipment</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/products/other">Other</a></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search any product by name"
        aria-label="Recipient's username with two button addons"
      />
      <button class="btn btn-outline-primary" type="button">❌</button>
      <button class="btn btn-outline-primary" type="button">🔍</button>
    </div>
  </div>
</div>

{{#if products.length}}
  <div class="productWrapper my-3">
    {{#each products}}
      <div class="card p-2">
        <img
          src={{image}}
          style="height: 18rem;"
          class="card-img-top border border-2 p-3 rounded myCover"
          alt="image"
        />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="price">{{price}}</i></li>
          {{! <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li> }}
        </ul>
        <div class="card-body">
          <a href="/products/{{id}}" class="card-link text-decoration-none">Read
            more</a>
          <a href="/products/{{id}}/edit?allow=true" class="card-link">Edit</a>
        </div>
      </div>

      <div class="myCard">
        <div class="icon">
        {{!-- <span>11</span> --}}
          <a href="/card" class="text-decoration-none">
          <img src="/img/basket.png" alt="">
          </a>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="w-80 mx-auto mt-5 text-center myAddForm">
    <h4>Not Found 😔</h4>
    <a href="/products" class="text-decoration-none">Go back ...</a>
  </div>
{{/if}}

{{! <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below
            as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div> }}